@page

@model RazorDemo.Pages.Custoemers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

@Model._customer.Count()
<div class="card" style="width: 18rem;">
    @foreach (var customer in Model._customer)
    {

        <img class="card-img-top" src="~/images/@customer.imagePath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@customer.FirstName</h5>
            <p class="card-text">@customer.FirstName @customer.LastName</p>
            <a asp-page="/Customers/Info" asp-route-Id="@customer.Id" asp-route-fname="@customer.FirstName"class="btn btn-primary">view</a>
        </div>

    }
</div>